# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [112]:
# your code goes here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
data = pd.read_csv(url)
df = pd.DataFrame(data)

df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [113]:


df_sel = df[(df['Total Claim Amount']>1000 ) & (df['Renew Offer Type'] == 'Offer4')]

In [114]:
df_sel1 = df[df['Renew Offer Type'] == 'Offer4']

df_sel1.groupby(['Gender', 'Policy Type'])['Total Claim Amount'].mean()

Gender  Policy Type
F       Corporate Auto    360.304492
        Personal Auto     381.627525
        Special Auto      306.603756
M       Corporate Auto    463.023913
        Personal Auto     411.698955
        Special Auto      407.481840
Name: Total Claim Amount, dtype: float64

In [115]:
df['State'].unique()

df3 = df.groupby('State').count()
df3 # they  all have more than 500 customers

,Unnamed: 0,Customer,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
State,,,,,,,,,,,,,,,,,,,,,
Arizona,1937,1937,1937,1937,1937,1937,1937,1937,1937,1937,...,1814,1937,1937,1937,1937,1937,1937,1815,1815,985
California,3552,3552,3552,3552,3552,3552,3552,3552,3552,3552,...,3346,3552,3552,3552,3552,3552,3552,3344,3344,1741
Nevada,993,993,993,993,993,993,993,993,993,993,...,939,993,993,993,993,993,993,933,933,513
Oregon,2909,2909,2909,2909,2909,2909,2909,2909,2909,2909,...,2754,2909,2909,2909,2909,2909,2909,2747,2747,1435
Washington,888,888,888,888,888,888,888,888,888,888,...,835,888,888,888,888,888,888,849,849,441

In [116]:
df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].median()

Education             Gender
Bachelor              F         5640.505303
                      M         5548.031892
College               F         5623.611187
                      M         6005.847375
Doctor                F         5332.462694
                      M         5577.669457
High School or Below  F         6039.553187
                      M         6286.731006
Master                F         5729.855012
                      M         5579.099207
Name: Customer Lifetime Value, dtype: float64

In [117]:
df.groupby(['State', 'Policy Type'])['Number of Open Complaints'].agg(['mean', 'max', 'min'])

                               mean  max  min
State      Policy Type
Arizona    Corporate Auto  0.360795  5.0  0.0
           Personal Auto   0.391021  5.0  0.0
           Special Auto    0.246914  3.0  0.0
California Corporate Auto  0.307006  4.0  0.0
           Personal Auto   0.401555  5.0  0.0
           Special Auto    0.449153  5.0  0.0
Nevada     Corporate Auto  0.463768  5.0  0.0
           Personal Auto   0.406026  5.0  0.0
           Special Auto    0.600000  5.0  0.0
Oregon     Corporate Auto  0.339823  4.0  0.0
           Personal Auto   0.371234  5.0  0.0
           Special Auto    0.374046  5.0  0.0
Washington Corporate Auto  0.512048  5.0  0.0
           Personal Auto   0.382445  5.0  0.0
           Special Auto    0.645161  4.0  0.0

In [118]:
import calendar

# Convert 'effective_to_date' column to datetime if necessary
df['Effective To Date'] = pd.to_datetime(df['Effective To Date'])

# Add a 'month' column
df['month'] = df['Effective To Date'].dt.month.map(lambda x: calendar.month_name[x])

# Create a pivot table to analyze the number of policies sold by state and month
pivot_table = pd.pivot_table(df, index='State', columns='month', values='Number of Policies', aggfunc='sum')

# Display the pivot table
pivot_table

month       February  January
State
Arizona         2864     3052
California      4929     5673
Nevada          1278     1493
Oregon          3969     4697
Washington      1225     1358

In [125]:
df.groupby('State')['Number of Policies'].count().sort_values(ascending=False).head(3)

sel = df['State'].isin(['California', 'Oregon', 'Arizona'])

df[sel].groupby(['State', 'month'])['Number of Policies'].count().sort_values(ascending=False)

State       month
California  January     1918
            February    1634
Oregon      January     1565
            February    1344
Arizona     January     1008
            February     929
Name: Number of Policies, dtype: int64

In [134]:
sel = df[df['Response']=='Yes']

sel.groupby('Sales Channel')['Response'].count()

Sales Channel
Agent          742
Branch         326
Call Center    221
Web            177
Name: Response, dtype: int64

In [127]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type', 'month'],
      dtype='object')

In [130]:
df['Response']

0         No
1         No
2         No
3        Yes
4         No
        ...
10905     No
10906     No
10907     No
10908     No
10909    NaN
Name: Response, Length: 10910, dtype: object